#home-picture{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    margin-left: 50px;
}

p{
    font-family: "Raleway";
}
.badge{

    margin-right: 10px;
    margin-top: 5px;
    background-color: lightgreen !important;
}
.home{
    height: 100vh;
    margin-top: 60px;

}
.my-5{
margin-bottom: 0px !important;
margin-top:  0px !important;
}
body > #root > div {
    height: 100vh;
  }